<template>
  <el-card :body-style="{ padding: 0 }">
    <el-tabs v-model="activeName" class="tabs">
      <el-tab-pane label="文章" name="article">
        <ListBox
          v-if="activeName === 'article'"
          :getListHandler="(current) => getListHandler(current, false)"
        />
      </el-tab-pane>
      <el-tab-pane label="草稿箱" name="draft">
        <ListBox
          v-if="activeName === 'draft'"
          :getListHandler="(current) => getListHandler(current, true)"
        />
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { getUserBlogListApi } from '@/api/blog';
import ListBox from '@/components/ListBox/ListBox.vue';
import { useBlogStore } from '@/stores/blog';
import { storeToRefs } from 'pinia';
const blogStore = useBlogStore();
const { activeName } = storeToRefs(blogStore);
const getListHandler = async (current: number, isDraft: boolean) => {
  const { list, total } = await getUserBlogListApi({ current, isDraft });
  return {
    list,
    total
  };
};
</script>

<style scoped lang="scss">
.tabs {
  background-color: var(--bg-base-color);
  :deep(.el-tabs__nav-wrap) {
    padding: 10px 30px 0;
  }
}
</style>
