@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@use './iconfont.css';
@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    h4 {
        @apply text-base;
    }
    h5 {
        @apply text-sm;
    }
    h6 {
        @apply text-xs;
    }
}

@tailwind components;
@tailwind utilities;


html,body,#app,div,span,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body,#app{
  background-color: var(--bg-light-color);
  height: 100%;
  -webkit-font-smoothing: unset !important;
  font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial!important;
}

.el-tooltip__trigger { outline: none; }
