<template>
  <DoubleWingLayout left-width="200px" :leftCol="6">
    <template v-slot:default>
      <el-card> 中间 </el-card>
    </template>
    <template v-slot:left>
      <el-card class="cursor-pointer">
        <div>左侧</div>
      </el-card>
    </template>
  </DoubleWingLayout>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.PersonalPage_wrap {
}
</style>
