<template>
  <el-row :gutter="20">
    <el-col :span="leftCol" class="hidden-sm-and-down" v-if="$slots.left">
      <el-affix target=".el-container" :offset="80">
        <slot name="left" />
      </el-affix>
    </el-col>
    <el-col :span="centerCol" :xs="24">
      <div class="pt-3">
        <slot />
      </div>
    </el-col>
    <el-col :span="rightCol" class="hidden-xs-only" v-if="$slots.right">
      <el-affix target=".el-container" :offset="80">
        <slot name="right" />
      </el-affix>
    </el-col>
  </el-row>
</template>

<script setup lang="ts">
import { computed, toRefs, useSlots } from 'vue';
interface IProps {
  leftCol?: number;
}
const props = withDefaults(defineProps<IProps>(), {
  leftCol: 3
});
const { leftCol } = toRefs(props);

const centerCol = computed(() => {
  const slot = useSlots();
  const { left, right } = slot;
  if (!left) return 24 - rightCol.value;
  if (!right) return 24 - leftCol.value;
  if (!left && !right) return 24;
  return 16;
});
const rightCol = computed(() => {
  return 8 - leftCol.value;
});
</script>
<style src="element-plus/theme-chalk/display.css"></style>

<style lang="scss" scoped></style>
