<template>
  <div />
</template>
<script setup lang="ts">
import { ref, onMounted, getCurrentInstance, watch } from 'vue';
import { Editor } from 'bytemd';
import 'bytemd/dist/index.min.css';
import zhHans from 'bytemd/locales/zh_Hans.json';
import breaks from '@bytemd/plugin-breaks';
import highlight from '@bytemd/plugin-highlight';
import footnotes from '@bytemd/plugin-footnotes';
import frontmatter from '@bytemd/plugin-frontmatter';
import gfm from '@bytemd/plugin-gfm';
import mediumZoom from '@bytemd/plugin-medium-zoom';
import gemoji from '@bytemd/plugin-gemoji';
import { cos, addFile } from '@/api/cos';
import { v4 as uuid } from 'uuid';

interface ImageAttr {
  title: string;
  url: string;
  alt: string;
  width?: string;
  height?: number;
}

interface Props {
  value?: string;
  placeholder?: string;
  plugins?: any;
  previewDebounce?: number;
  locale?: any;
  uploadImages?: (files: [File]) => Promise<[ImageAttr]>;
  maxLength?: number;
}

const props = withDefaults(defineProps<Props>(), {
  maxLength: undefined,
  placeholder: '请输入文章内容～',
  previewDebounce: 200,
  uploadImages: async (files: [File]): Promise<[ImageAttr]> => {
    const { url, filename } = await addFile(uuid(), files[0]);
    return [
      {
        title: filename,
        url,
        alt: filename
      }
    ];
  },
  value: '',
  locale: zhHans,
  plugins: [
    breaks(),
    highlight(),
    footnotes(),
    frontmatter(),
    gfm(),
    mediumZoom(),
    gemoji()
  ]
});

const emit = defineEmits<{
  (e: 'change', id: string): void;
  (e: 'update:value', id: string): void;
}>();
const editor = ref<Editor>();
const instance = getCurrentInstance();

onMounted(() => {
  editor.value = new Editor({
    target: instance?.subTree.el,
    props
  });
  editor.value.$on('change', (e: { detail: { value: string } }) => {
    emit('change', e.detail.value);
    emit('update:value', e.detail.value);
  });
});

watch(props, (newValue) => {
  editor.value.$set(
    Object.fromEntries(Object.entries(newValue).filter((v) => v))
  );
});
</script>
