<template>
  <el-card
    :body-style="{ padding: '8px 20px', borderRadius: 0 }"
    class="cursor-pointer header_fixed"
  >
    <div class="w-full h-full px-8">
      <div class="flex items-center justify-between h-full">
        <div class="flex">
          <div class="flex items-center mr-20">
            <span class="mr-4 text-4xl iconfont icon-Blog"></span>
            <div class="text-xl font-extrabold">个人小站</div>
          </div>
          <div class="flex items-center justify-start">
            <div
              class="mr-12"
              :style="{
                fontSize: userStore.activeHeadTab === i.path ? '20px' : '16px',
                fontWeight: userStore.activeHeadTab === i.path ? 700 : 500
              }"
              v-for="i in headTabRoute"
              :key="i.path"
              @click="goPage(i.path)"
            >
              {{ i.title }}
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <el-button type="primary" class="mr-4" @click="goCreatorCenter">
            创作者中心
          </el-button>
          <el-switch
            v-model="isDark"
            size="default"
            class="mr-4"
            inline-prompt
            :active-icon="Moon"
            :inactive-icon="Sunny"
          />
          <UserAvatar />
        </div>
      </div>
    </div>
  </el-card>
</template>

<script setup lang="ts">
import { useDark } from '@vueuse/core';
import { Sunny, Moon } from '@element-plus/icons-vue';
import { useRouter } from 'vue-router';
import UserAvatar from './UserAvatar.vue';
import { headTabRoute } from '@/router/headPages';
import { useUserStore } from '@/stores/user';
const router = useRouter();
const isDark = useDark();
const userStore = useUserStore();

const goPage = (path: string) => {
  router.push(path);
  userStore.activeHeadTab = path;
};

const goCreatorCenter = () => {
  router.push({
    path: '/CreatorCenter'
  });
};
</script>

<style>
.header_fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
</style>
