<template>
  <div class="UserAvatar_wrap">
    <el-dropdown trigger="click">
      <el-avatar :size="44" :src="currentUser.avatar" fit="cover" />
      <template #dropdown>
        <el-dropdown-menu>
          <el-dropdown-item @click="logout"> 退出登录</el-dropdown-item>
          <el-dropdown-item @click="goPersonal">个人中心</el-dropdown-item>
        </el-dropdown-menu>
      </template>
    </el-dropdown>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useUserStore } from '@/stores/user';
const router = useRouter();
const userStore = useUserStore();
const { currentUser, logout } = userStore;
const goPersonal = () => {
  router.push('/personal');
};
</script>

<style scoped lang="scss">
.UserAvatar_wrap {
}
</style>
