html {
  --el-color-primary: #3882f7;

  /* 主体背景颜色 */
  --bg-light-color: #f4f5f5;
  /* 盒子背景颜色 */
  --bg-base-color: #fff;
  /* 按钮背景颜色 */
  --bg-bu-color: #172135;
  /*盒子hover背景*/
  --bg-hover-color: #f6f7f9;

  /* 基础文字颜色*/
  --text-base-color: #5c6066;
  /* 按钮文字颜色 */
  --text-bu-color: #fff;
  /* 备注文字颜色*/
  --text-remark-color: #7f8695;

  /* 名字字体颜色*/
  --text-name-color: #515767;

  --text-font-0: #1d2129;
  --text-font-1: #252933;
  --text-font-2: #515767;
  --text-font-3: #8a919f;
  --text-font-4: #c2c8d1;

  /* 边框颜色 */
  --border-color: #e6e8eb;
}

html.dark {
  --el-color-primary: #23539e;
  /* 背景颜色 */
  --bg-light-color: #121212;
  /* 背景颜色 */
  --bg-base-color: #272727;
  /* 按钮背景颜色 */
  --bg-bu-color: #fff;
  /*盒子hover背景*/
  --bg-hover-color: #2c2f32;


  /* 基础文字颜色 */
  --text-base-color: #e6eaf2;
  /* 按钮文字颜色 */
  --text-bu-color: #333;
  /* 备注文字颜色*/
  --text-remark-color: #7f8695;

  /* 名字字体颜色*/
  --text-name-color: #515767;

  --text-font-1: #f6f2f2;
  --text-font-2: #f3f3f3;
  --text-font-3: #e9e9e9;
  --text-font-4: #efefef;
  /* 边框颜色 */
  --border-color: #e6e8eb;
}
