<template>
  <div>
    <ul class="infinite-list">
      <li
        v-for="i in blogList"
        :key="i.blogId"
        class="px-4 bg-base infinite-list-item"
      >
        <BlogItem :itemCard="i" />
      </li>
    </ul>
    <div
      class="flex items-center justify-center p-4"
      v-if="showMore"
      ref="loadMoreRef"
    >
      加载中...
    </div>
    <div class="flex items-center justify-center p-4" v-else>暂无更多数据~</div>
  </div>
</template>

<script setup lang="ts">
import { nextTick, onMounted, reactive, ref, type VNodeRef } from 'vue';
import type { IBlogItem, IGetBlogListParams } from '@/types/blog.type';
import BlogItem from './BlogItem.vue';
import { getBlogListApi } from '@/api/blog';
import { useBlogStore } from '@/stores/blog';
import { storeToRefs } from 'pinia';
const blogStore = useBlogStore();
const { blogType } = storeToRefs(blogStore);
const payload = reactive<IGetBlogListParams>({
  current: 0,
  pageSize: 10,
  blogType: blogType.value
});
const blogList = ref<IBlogItem[]>([]);

const showMore = ref<boolean>(true);
const getBlogList = async () => {
  const { list = [], total } = await getBlogListApi({
    ...payload
  });

  return { list, total };
};

const loadMore = async () => {
  payload.current = payload.current + 1;
  const { list, total } = await getBlogList();
  blogList.value.push(...list);
  nextTick(() => {
    if (total > blogList.value.length) showMore.value = true;
    else showMore.value = false;
  });
};

const loadMoreRef = ref();
onMounted(() => {
  const observer = new IntersectionObserver(async (changes) => {
    const { isIntersecting } = changes[0];
    if (isIntersecting) {
      try {
        await loadMore();
      } catch (err) {
        console.log(err);
      }
    }
  });
  const loadMoreBox = loadMoreRef.value;
  // 开始观察目标节点
  if (loadMoreBox) observer.observe(loadMoreBox);
});
</script>

<style scoped lang="scss">
.infinite-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.infinite-list-item {
  &:hover {
    background-color: var(--bg-hover-color);
  }
}
</style>
