<template>
  <div class="py-4 border-b h-36 blogItem_wrap card" @click="goBlogDetail">
    <div class="flex items-center justify-start">
      <div class="text-sm text-name itembox">{{ user?.nickname }}</div>
      <div class="text-sm text-remark itembox">{{ getTimeAgo(createdAt) }}</div>
      <div class="text-sm text-remark">{{ blogTypeMap[blogType] }}</div>
    </div>
    <div class="flex items-center justify-start max-w-full">
      <div style="width: 0" class="flex-1">
        <h4 class="mt-4 mb-2 truncate">{{ title }}</h4>
        <div class="text-sm truncate text-remark">{{ content }}</div>
        <div
          class="flex items-center justify-start mt-2 text-xs text-remark action"
        >
          <div class="flex items-center mr-4 action_button">
            <svg
              data-v-8a39d3fc=""
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="view-icon"
            >
              <path
                data-v-8a39d3fc=""
                d="M7.90078 2.80078C4.49278 2.80078 1.74745 6.11672 0.800781 7.77469C1.74745 9.58339 4.49278 13.2008 7.90078 13.2008C11.3088 13.2008 14.0541 9.58339 15.0008 7.77469C14.0541 6.11672 11.3088 2.80078 7.90078 2.80078Z"
                stroke="currentColor"
              ></path>
              <circle
                data-v-8a39d3fc=""
                cx="7.89922"
                cy="8.00078"
                r="2.2"
                stroke="currentColor"
              ></circle>
            </svg>
            <span class="ml-1 text-xs">1928</span>
          </div>
          <div class="flex items-center mr-4 action_button">
            <svg
              data-v-8a39d3fc=""
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="liked-icon"
            >
              <path
                data-v-8a39d3fc=""
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.56162 1.16952C7.66569 1.09661 7.78195 1.06124 7.88247 1.0912C7.97653 1.11923 8.23851 1.25916 8.50988 1.96799C8.64419 2.31881 8.9356 3.2424 8.42155 5.05431C8.29751 5.49152 8.61394 5.95303 9.09259 5.95971L12.492 6.00716L12.492 6.00721H12.4991C12.6049 6.00721 12.7228 6.01986 12.8134 6.05898C12.8544 6.07671 12.8815 6.09639 12.8999 6.116C12.9166 6.13375 12.9368 6.16247 12.9515 6.21636C12.9848 6.33784 13.0228 6.74712 12.9473 7.42262C12.874 8.07857 12.698 8.94479 12.341 9.9598C12.0424 10.8088 11.6601 11.5292 11.0684 12.4879C11.0558 12.5052 11.0462 12.5197 11.0418 12.5265L11.0404 12.5285C11.0292 12.5454 11.0242 12.5531 11.018 12.5618C11.0076 12.5764 11.0018 12.582 10.9983 12.585C10.996 12.587 10.9908 12.5912 10.9777 12.5959C10.9638 12.6009 10.9311 12.61 10.8706 12.61H4.56278L4.56373 5.58489C4.87126 5.41901 5.19881 5.20128 5.54112 4.84059C5.93883 4.42152 6.33789 3.8294 6.76254 2.94183C6.84974 2.75957 6.91745 2.55962 6.97574 2.37762C6.99264 2.32486 7.0087 2.27379 7.02438 2.22393L7.02439 2.22389C7.066 2.09158 7.10495 1.96776 7.14985 1.84312C7.2758 1.49352 7.40247 1.28101 7.56162 1.16952ZM9.45205 1.60729C9.13229 0.772086 8.70208 0.282772 8.17063 0.124374C7.64564 -0.0320981 7.20308 0.188912 6.98278 0.343248C6.55169 0.64525 6.33837 1.11908 6.20071 1.5012C6.14817 1.64705 6.10002 1.80016 6.05661 1.93824C6.0422 1.98405 6.02832 2.02821 6.01496 2.0699C5.95791 2.24804 5.90763 2.39115 5.85248 2.50643C5.45683 3.3334 5.1121 3.8271 4.80935 4.14611C4.51322 4.45815 4.23983 4.6219 3.9473 4.76821C3.71095 4.88641 3.55494 5.12906 3.55491 5.40159L3.55388 12.9125C3.55383 13.3026 3.87002 13.6188 4.26008 13.6188H10.8706C11.2097 13.6188 11.4663 13.5113 11.6519 13.3535C11.7387 13.2797 11.7988 13.2043 11.8387 13.1484C11.8556 13.1248 11.8704 13.1025 11.8786 13.09L11.8813 13.0859L11.8826 13.0839L11.8955 13.0685L11.9142 13.0382C12.5304 12.0414 12.9578 11.247 13.2927 10.2945C13.6745 9.20895 13.8679 8.26811 13.9499 7.5347C14.0297 6.82084 14.009 6.25845 13.9246 5.95014C13.805 5.51285 13.5104 5.26112 13.2134 5.13284C12.9385 5.01407 12.661 4.99859 12.5028 4.99836L9.49071 4.95631C9.92962 3.15791 9.64796 2.11902 9.45205 1.60729ZM0.000800636 5.46783C-0.0181914 5.0652 0.303128 4.72836 0.706212 4.72836H1.75264C2.14266 4.72836 2.45883 5.04454 2.45883 5.43456V12.9442C2.45883 13.3342 2.14266 13.6504 1.75264 13.6504H1.06044C0.68335 13.6504 0.372791 13.3541 0.355024 12.9775L0.000800636 5.46783Z"
                fill="currentColor"
              ></path>
            </svg>
            <span class="ml-1 text-xs">1928</span>
          </div>
          <div class="flex items-center mr-4 action_button">
            <svg
              data-v-8a39d3fc=""
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="comment-icon"
            >
              <path
                data-v-8a39d3fc=""
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.30136 9.11421L1.30019 2.45191C1.30024 1.6778 1.92779 1.05019 2.70191 1.05019H11.3989C12.1731 1.05019 12.8006 1.67785 12.8006 2.452L12.8018 9.1144C12.8017 9.8885 12.1742 10.516 11.4001 10.516H9.13225C8.97329 10.516 8.81862 10.5675 8.69142 10.6629L5.65162 12.9406C5.62173 12.9598 5.58148 12.9444 5.57209 12.91L5.15416 11.0869C5.07758 10.7528 4.78033 10.516 4.43761 10.516H2.70308C1.92893 10.516 1.30136 9.88836 1.30136 9.11421ZM2.70191 0C1.34776 0 0.25 1.09776 0.25 2.45191L0.25117 9.1144C0.25122 10.4685 1.34896 11.5662 2.70308 11.5662H4.18661L4.54953 13.1495L4.55107 13.1558C4.73515 13.9153 5.62879 14.248 6.26458 13.7937L9.23719 11.5662H11.4001C12.7542 11.5662 13.852 10.4684 13.852 9.11421L13.8508 2.45182C13.8508 1.09771 12.753 0 11.3989 0H2.70191ZM3.78612 6.91404C4.35027 6.91404 4.8076 6.45671 4.8076 5.89257C4.8076 5.32842 4.35027 4.87109 3.78612 4.87109C3.22198 4.87109 2.76465 5.32842 2.76465 5.89257C2.76465 6.45671 3.22198 6.91404 3.78612 6.91404ZM7.98631 5.89257C7.98631 6.45671 7.52898 6.91404 6.96483 6.91404C6.40069 6.91404 5.94336 6.45671 5.94336 5.89257C5.94336 5.32842 6.40069 4.87109 6.96483 4.87109C7.52898 4.87109 7.98631 5.32842 7.98631 5.89257ZM10.1484 6.91404C10.7126 6.91404 11.1699 6.45671 11.1699 5.89257C11.1699 5.32842 10.7126 4.87109 10.1484 4.87109C9.58428 4.87109 9.12695 5.32842 9.12695 5.89257C9.12695 6.45671 9.58428 6.91404 10.1484 6.91404Z"
                fill="currentColor"
              ></path>
            </svg>
            <span class="ml-1 text-xs">123</span>
          </div>
        </div>
      </div>
      <div style="width: 120px">
        <el-image
          style="width: 120px; height: 80px"
          :src="user?.avatar"
          fit="cover"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { toRefs, type PropType } from 'vue';
import { useRouter } from 'vue-router';
import { getTimeAgo } from '@/utils/timeFormat';

import type { IBlogItem } from '@/types/blog.type';
const blogTypeMap = {
  1: '前端',
  2: '后端'
};
const router = useRouter();
interface IProps {
  itemCard: IBlogItem;
}
const props = defineProps<IProps>();
const { itemCard } = toRefs(props);
const { user, title, content, blogType, createdAt } = itemCard.value;
const goBlogDetail = () => {
  router.push(`/blog/${itemCard.value.blogId}`);
};
</script>
<style scoped lang="scss">
.card {
  border-bottom: 1px solid #e5e6eb;
}
.itembox {
  display: flex;
  align-items: center;
  &:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #e0e2e8;
  }
}
.action_button {
  &:hover {
    color: #3882f7;
  }
}
</style>
