<template>
  <div class="flex flex-col h-full EditorPage_wrap">
    <div>
      <el-card
        :body-style="{
          display: 'flex',
          justifyContent: 'space-between',
          padding: '15px 40px'
        }"
      >
        <input
          v-model="blog.title"
          type="text"
          placeholder="请输入标题..."
          style="
            border: none;
            outline: none;
            font-size: 26px;
            font-weight: 700;
            width: 100%;
          "
        />
        <div class="pr-4 text-sm leading-8 text-right w-96 text-3">
          {{ prompt }}
        </div>
        <el-button type="primary" size="default" @click="drawerVisible = true">
          发布
        </el-button>
      </el-card>
    </div>
    <div class="items-center justify-center flex-1">
      <EditorVue
        v-model:value="blog.content"
        style="height: 100%"
        class="editor_box"
      />
    </div>
  </div>
  <el-drawer v-model="drawerVisible" size="50%">
    <el-form>
      <el-form-item label="文章类型">
        <el-select
          v-model="blog.blogType"
          class="m-2"
          placeholder="请选择文章类型"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
    </el-form>

    <template #header>
      <h2>发布文章</h2>
    </template>
    <template #footer>
      <div style="flex: auto">
        <el-button @click="drawerVisible = false">取消</el-button>
        <el-button type="primary" @click="submitBlog"> 发布 </el-button>
      </div>
    </template>
  </el-drawer>
</template>

<script setup lang="ts">
import { computed, onMounted, reactive, ref, unref, watch } from 'vue';
import EditorVue from '@/components/EditorVue/EditorVue.vue';
import { addBlogApi, getBlogDetailApi, updateBlogApi } from '@/api/blog';
import { ElMessage } from 'element-plus';
import { useRouter, useRoute } from 'vue-router';
import { debounce } from 'loadsh';
import type { IAddBlogParams } from '@/types/blog.type';

const route = useRoute();
const router = useRouter();
const options = [
  { value: '1', label: '前端' },
  { value: '2', label: '后端' }
];

const drawerVisible = ref<boolean>(false);

const blog = ref<IAddBlogParams>({
  isDraft: true,
  title: '',
  content: '',
  blogType: ''
});

const promptType = ref();
const prompt = computed(() => {
  const { isDraft } = blog.value;
  if (!isDraft) return '已发布文章需再次发布才会更新文章';
  if (promptType.value === 'saveing') return '保存中...';
  if (promptType.value === 'success') return '保存成功';
  return '文章将自动保存至草稿箱';
});

onMounted(async () => {
  const { blogId } = route.params;
  if (blogId) {
    const { title, content, blogType, isDraft } = await getBlogDetailApi({
      blogId: Number(blogId)
    });
    blog.value = { title, content, blogType, isDraft };
  }
});
const submitBlog = async () => {
  const { title, content, blogType } = blog.value;
  if (!title) return ElMessage.error('请填写文章标题');
  if (!content) return ElMessage.error('请填写文章内容');
  if (!blogType) return ElMessage.error('请选择文章类型');
  const payload = {
    ...blog.value,
    isDraft: false
  };
  const { blogId } = route.params;
  if (blogId) await updateBlogApi(+blogId, payload);
  else await addBlogApi(payload);
  ElMessage.success('发布成功');
  router.back();
};
const submitDraftBlog = async () => {
  promptType.value = 'saveing';
  const { blogId } = route.params;
  if (!blog.value.isDraft) return;
  const payload = {
    ...blog.value,
    isDraft: true
  };
  if (blogId) {
    await updateBlogApi(+blogId, payload);
  } else {
    const { blogId } = await addBlogApi(payload);
    router.replace({
      path: `/editor/${blogId}`
    });
  }
  promptType.value = 'success';
};
watch(
  blog,
  debounce(() => {
    submitDraftBlog();
  }, 500),
  { deep: true }
);
</script>

<style scoped lang="scss">
.EditorPage_wrap {
  justify-content: space-between;
}
.editor_box {
  :deep(.bytemd) {
    height: calc(100vh - 65px);
  }
  :deep(.bytemd-preview) {
    img {
      max-width: 650px;
      max-height: 650px;
    }
  }
}
</style>
