<template>
  <div class="common-layout">
    <el-container>
      <el-header style="padding: 0"><PageHeader /></el-header>
      <el-main
        class="w-full mx-auto"
        style="max-width: 1200px; padding-bottom: 0; padding-top: 10px"
      >
        <RouterView />
      </el-main>
    </el-container>
  </div>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router';
import PageHeader from '@/components/PageHeader/PageHeader.vue';
</script>

<style scoped lang="scss">
.LayoutPage_wrap {
}
</style>
