<template>
  <div class="ItemBox_wrap" @click.prevent="goBlogDetail">
    <div class="item_box">
      <div class="flex justify-between mb-2">
        <div class="text-base text-0">{{ item.title || '无标题' }}</div>
        <el-dropdown>
          <div
            class="text-2xl iconfont icon-gengduo more"
            @click.stop="() => {}"
          ></div>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item @click="editBlog">编辑</el-dropdown-item>
              <el-dropdown-item @click="centerDialogVisible = true"
                >删除</el-dropdown-item
              >
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
      <div>
        <div class="text-sm text-3">{{ timeToDate(item.createdAt) }}</div>
      </div>
    </div>
  </div>
  <el-dialog
    v-model="centerDialogVisible"
    title="删除内容"
    width="30%"
    class=""
    align-center
  >
    <span>删除内容后不可恢复，确定删除吗？</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="confirmDelete"> 确认 </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup lang="ts">
import { ref, toRefs } from 'vue';
import { useRouter } from 'vue-router';
import { ElMessage } from 'element-plus';
import { deleteBlogApi } from '@/api/blog';
import type { IBlogItem } from '@/types/blog.type';
import { timeToDate } from '@/utils/timeFormat';

const router = useRouter();

interface IProps {
  item: IBlogItem;
}
const props = defineProps<IProps>();
const { item } = toRefs(props);

interface IEmits {
  (e: 'reloadList'): void;
}
const emits = defineEmits<IEmits>();

const centerDialogVisible = ref<boolean>(false);

const editBlog = () => {
  router.push({
    path: `/editor/${item.value.blogId}`
  });
};
const confirmDelete = async () => {
  await deleteBlogApi(item.value.blogId);
  ElMessage.success('删除成功');
  centerDialogVisible.value = false;
  emits('reloadList');
};
const goBlogDetail = () => {
  console.log(item);
  const { isDraft, blogId } = item.value;
  if (isDraft)
    router.push({
      path: `/editor/${blogId}`
    });
  else router.push(`/blog/${blogId}`);
};
</script>

<style scoped lang="scss">
.ItemBox_wrap {
  padding: 0 20px;
  &:hover {
    background-color: var(--bg-hover-color);
  }
  .item_box {
    border-bottom: 1px solid #e5e6eb;
    height: 87px;
    padding: 16px 0;
    .more {
      &:hover {
        &:before {
          background-color: #e5e6eb;
        }
      }
    }
  }
}
</style>
