<template>
  <div class="ListBox_wrap">
    <ItemBox
      v-for="(i, index) in list"
      :key="index"
      :item="i"
      @reloadList="handleCurrentChange(currentPage)"
    />
    <div class="flex justify-center p-4">
      <el-pagination
        v-model:current-page="currentPage"
        v-if="list?.length"
        small
        background
        layout="prev, pager, next"
        :total="total"
        class="mx-auto mt-4"
        @current-change="handleCurrentChange"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import ItemBox from './ItemBox.vue';
import type { IBlogItem } from '@/types/blog.type';

interface IProps {
  getListHandler: (
    current: number
  ) => Promise<{ list: IBlogItem[]; total: number }>;
}

const props = withDefaults(defineProps<IProps>(), {});

const currentPage = ref(1);
const list = ref<IBlogItem[]>();
const total = ref<number>(0);
const handleCurrentChange = async (current: number) => {
  const { list: items, total: totalNum } = await props.getListHandler(current);
  list.value = items;
  total.value = totalNum;
};

onMounted(() => {
  handleCurrentChange(1);
});
</script>

<style scoped lang="scss">
.ListBox_wrap {
}
</style>
