<template>
  <DoubleWingLayout left-width="200px" :leftCol="5" class="CreatorCenter_wrap">
    <template v-slot:default>
      <RouterView />
    </template>
    <template v-slot:left>
      <el-card class="cursor-pointer" :body-style="{ padding: '5px' }">
        <el-button
          type="primary"
          style="width: 100%; margin-bottom: 20px"
          @click="
            router.push({
              path: '/editor'
            })
          "
          >写文章</el-button
        >
        <el-menu
          router
          size="default"
          default-active="article"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose"
        >
          <el-sub-menu index="CreatorCenter">
            <template #title>
              <el-icon><icon-menu /></el-icon>
              <span>内容管理</span>
            </template>
            <el-menu-item>
              <el-menu-item index="article"> 文章管理 </el-menu-item>
            </el-menu-item>
          </el-sub-menu>
          <el-menu-item>
            <el-menu-item index="dataCenter">数据中心</el-menu-item>
          </el-menu-item>
        </el-menu>
      </el-card>
    </template>
  </DoubleWingLayout>
</template>

<script setup lang="ts">
import { Menu as IconMenu } from '@element-plus/icons-vue';
import { useRouter } from 'vue-router';
const router = useRouter();
const handleOpen = (key: string, keyPath: string[]) => {
  console.log(key, keyPath);
};
const handleClose = (key: string, keyPath: string[]) => {
  console.log(key, keyPath);
};
</script>

<style scoped lang="scss">
.CreatorCenter_wrap {
  :deep(.el-menu) {
    border-right: none !important;
  }
}

.el-menu-vertical-demo {
  height: 500px;
  overflow-y: auto;
}
</style>
