<template>
  <div class="BlogDetails_wrap">
    <DoubleWingLayout>
      <div class="p-12 bg-base">
        <h1 class="text-4xl">{{ article?.title }}</h1>
        <div class="flex items-center mt-6">
          <span class="mr-4 font-semibold text-ml text-2">{{
            targetUser?.nickname
          }}</span>
          <span class="text-sm text-4">{{
            timeToDate(article?.updatedAt)
          }}</span>
        </div>
        <Viewer :value="article?.content || ''" class="view_box" />
      </div>

      <template v-slot:right>
        <el-card> 右侧 </el-card>
      </template>
    </DoubleWingLayout>
  </div>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';
import DoubleWingLayout from '@/components/DoubleWingLayout/DoubleWingLayout.vue';
import Viewer from '@/components/EditorVue/ViewerVue.vue';
import { getBlogDetailApi } from '@/api/blog';
import { onMounted, ref } from 'vue';
import type { IBlogItem } from '@/types/blog.type';
import { useUserStore } from '@/stores/user';
import { storeToRefs } from 'pinia';
import { timeToDate } from '@/utils/timeFormat';
const userStore = useUserStore();
const route = useRoute();
const { blogId } = route.params;
const article = ref<IBlogItem>();

const { targetUser } = storeToRefs(userStore);
onMounted(async () => {
  const { user, ...others } = await getBlogDetailApi({
    blogId: Number(blogId)
  });
  if (user) userStore.setTargetUser(user);

  article.value = others;
});
</script>

<style scoped lang="scss">
:deep(.markdown-body) {
  color: var(--text-font-2);
}
</style>
