<template>
  <DoubleWingLayout left-width="200px">
    <template v-slot:default>
      <el-tabs v-model="blogStore.blogType" class="tabs">
        <el-tab-pane :name="IBlogType.FrontEnd">
          <template #label>
            <h4>前端</h4>
          </template>
          <BlogList
            v-if="blogType === IBlogType.FrontEnd"
            class="cursor-pointer"
          />
        </el-tab-pane>
        <el-tab-pane :name="IBlogType.RearEnd">
          <template #label>
            <h4>后端</h4>
          </template>
          <BlogList
            v-if="blogType === IBlogType.RearEnd"
            class="cursor-pointer"
          />
        </el-tab-pane>
      </el-tabs>
    </template>
    <template v-slot:left>
      <el-card class="cursor-pointer">
        <div>左侧</div>
      </el-card>
    </template>
    <template v-slot:right>
      <el-card class="cursor-pointer">
        <div>
          <el-button type="primary" class="w-full mr-4" @click="goEditor">
            写文章
          </el-button>
        </div>
      </el-card>
    </template>
  </DoubleWingLayout>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import BlogList from './components/BlogList.vue';
import DoubleWingLayout from '@/components/DoubleWingLayout/DoubleWingLayout.vue';
import { IBlogType } from '@/types/blog.type';
import { useBlogStore } from '@/stores/blog';
import { storeToRefs } from 'pinia';

const router = useRouter();
const blogStore = useBlogStore();
const { blogType } = storeToRefs(blogStore);
const goEditor = () => {
  router.push('/editor');
};
</script>
<style lang="scss" scoped>
.tabs {
  background-color: var(--bg-base-color);
  :deep(.el-tabs__nav-wrap) {
    padding: 10px 30px 0;
  }
}
</style>
