<template>
  <el-config-provider size="large">
    <RouterView />
  </el-config-provider>
</template>

<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router';
console.log('test ci111');
</script>

<style>
::-webkit-scrollbar {
  display: none;
}
</style>
