<template>
  <div class="flex items-center justify-center h-full">
    <el-card class="h-80 w-550px">
      <template #header>
        <div class="text-2xl font-bold">登录</div>
      </template>
      <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="0px"
        size="large"
        class="px-8"
      >
        <el-form-item prop="username">
          <el-input
            v-model="ruleForm.username"
            autocomplete="off"
            placeholder="请输入用户名"
          />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            v-model="ruleForm.password"
            type="password"
            autocomplete="off"
            placeholder="请输入密码"
          />
        </el-form-item>
      </el-form>
      <div class="flex items-center justify-center">
        <el-button
          size="large"
          type="primary"
          @click="handlerLogin"
          :loading="loginLoading"
          >登录</el-button
        >
        <!-- <el-button @click="handlerRegister" :loading="loading">注册</el-button> -->
      </div>
    </el-card>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue';
import { useUserStore } from '@/stores/user';
import { registerApi } from '@/api/user';
import { useRouter } from 'vue-router';
import { ElMessage } from 'element-plus';
import { LoginParams } from '@/api/user/types';
const userStore = useUserStore();

const ruleForm = reactive<LoginParams>({
  username: 'Lc981215',
  password: 'Lc981215'
});
const rules = {
  username: [{ required: true, message: '请输入用户名' }],
  password: [{ required: true, message: '请输入密码' }]
};

const loginLoading = ref<boolean>(false);
const handlerLogin = async () => {
  try {
    userStore.login(ruleForm, { loading: loginLoading });
  } catch (error) {
    console.log('error', error);
  }
};

const loading = ref<boolean>(false);
const handlerRegister = async () => {
  try {
    await registerApi({ ...ruleForm }, { loading });
    ElMessage.success('注册成功');
  } catch (error) {
    console.log(error);
  }
};
</script>
@/api/user/user
